<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>/templates/include/resource.html</title>
</head>
<body>

	<!-- 로딩할 자원정보를 타임리프 블럭에 작성해 놓고 불러 쓸수 있도록 한다 -->
	<th:block th:fragment="bootstrap">
		<!-- /WEB-INF/include/resource.jsp 페이지 -->
		<!--  bootstrap 이 동작하기 위한 css 와 javascript -->
		<!-- 복사한 bootstrap css 로딩시키기 -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
		<!-- 복사한 bootstrap icons css 로딩시키기 (vector 이미지 글꼴,class 전체를 한번에 로딩시키기 -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
		<!-- bootstrap javascript 로딩하기 -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>		
	</th:block>

</body>
</html>