<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>/templates/member/list.html</title>
</head>
<body>
	<div class="container">
		<a th:href="@{/member/new-form}">회원 추가</a>
		<h1>회원 목록 입니다</h1>
		<table>
			<thead>
				<tr>
					<th>번호</th>
					<th>이름</th>
					<th>주소</th>
					<th>수정</th>
					<th>삭제</th>
				</tr>
			</thead>
			<tbody>
				<!--/* 
					"memberList" 라는 키값으로 담긴 데이터는 List<MemberDto> 이다
					따라서 tmp 는 MemberDto type 이다
					tmp.getNum() 하면 번호를 얻어낼수 있는데 EL 에서는 tmp.num 해도 자동으로 getter 메소드를
					호출해준다.  
				  */-->
				 
					<tr th:each="tmp : ${memberList }"> <!--/* list */-->
						<td>[[${tmp.getNum}]]</td> <!--/* num */-->
						<td>[[${tmp.name}]]</td>
						<td>[[${tmp.addr}]]</td>

						<td>
							<a th:href="@{/member/edit(num=${tmp.num })}">수정</a> <!-- /member/delete1 요청이 되는 것 -->
						</td>
						<td>
							<a th:href="@{/member/delete1(num=${tmp.num })}">삭제</a> <!-- /member/delete1 요청이 되는 것 -->
						</td>
					</tr>
			</tbody>
		</table>
	</div>	
</body>
</html>